#banner_part {
    background: #150035;
    padding: 175px 0 200px 0;

    .roulette_wheel_image {
        position: relative;

        img {
            position: absolute;
            left: -190px;
            top: 0;
        }
    }

    .result_top_text {
        margin-top: 85px;

        p {
            @include textdesign(20px, 400, $ff_nunito, #ffffff);
        }
    }

    .result_number {
        .glow {
            font-size: 330px;
            font-family: $ff_anton;
            font-weight: 400;
            margin: 40px 0;
            // background-image: linear-gradient(to top, #e07e1e, #fcb100);
            // color: transparent;
            // background-clip: text;
            // -webkit-background-clip: text;
            // text-shadow: 5px 5px 10px rgba(251, 54, 215, 0.10);
            color: #fcb100;
            text-align: center;
            animation: glow 1s ease-in-out infinite alternate;

            @keyframes glow {
                from {
                    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #ff39dc, 0 0 20px #ff39dc, 0 0 25px #ff39dc, 0 0 30px #ff39dc, 0 0 35px #ff39dc;
                }

                to {
                    text-shadow: 0 0 5px #fff, 0 0 10px #ff39dc, 0 0 15px #ff39dc, 0 0 20px #ff39dc, 0 0 25px #ff39dc, 0 0 30px #ff39dc, 0 0 35px #ff39dc;
                }
            }
        }
    }

    .result_bottom_text {
        p {
            @include textdesign(16px, 400, $ff_nunito, #ffff);
            line-height: 26px;
        }
    }

    .banner_button {
        margin-top: 30px;

        .common_button {
            @include textdesign(24px, $ff_anton, 400, #fff);
            text-shadow: 6px 6px 4px rgba(0, 0, 0, 0.60);
            margin-right: 20px;
            @include btn_design;
        }
    }
}