#service_part{
    padding-top: 175px;
    padding-bottom: 95px;
    background: #0b001b;
    .process_part{
        position: relative  ;
        .process_items{
            background-image: linear-gradient(45deg, #9e4efc -600%, #570dc8 100%);
            border-radius: 5px;
            position: absolute;
            left: 0;
            top: -280px;
            width: 100%;
            clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 90%);
            .processes{
                background-image: linear-gradient(45deg, #9e4efc -600%, #570dc8 100%);
                padding: 45px 0;
                .step_number{
                    h3{
                        @include textdesign(50px,$ff_anton,400,#fcb100);
                        text-shadow: 2px 4px 4px rgba(0,0,0,0.6);
                    }
                }
                .step_criteria{
                    margin-top: 27px;
                    margin-bottom: 17px;
                    h4{
                        @include textdesign(32px, $ff_anton, 400, #fff);
                        text-shadow: 6px 6px 4px rgba(0, 0, 0, 0.60);
                    }
                }
                .step_text{
                    p{
                        @include textdesign(16px,$ff_nunito,400,#ffffff)
                    }
                }
            }
            
        }
    }
    .service_card{ 
        .service_card_img{
            position: relative;
            .card_overlay{
                height: 100%;
                width: 100%;
                background: rgba(21, 0, 53, 0.80);
                position: absolute;
                left: 0;
                top: 0;
                visibility: hidden;
                opacity: 0;
                transition: .4s;
                h3{
                    @include textdesign(24px, $ff_anton, 400, #fff);
                    text-shadow: 6px 6px 4px rgba(0, 0, 0, 0.60);
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                }
                .card_play_btn{
                    a{
                        @include textdesign(24px, $ff_anton, 400, #fff);
                        text-shadow: 6px 6px 4px rgba(0, 0, 0, 0.60);
                        @include btn_design;
                        position: absolute;
                        top: 237px;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }    
            } 
        }
        &:hover .card_overlay{
            visibility: visible;
            opacity: 1;
        }
        
        
    }   
}